// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: impact;
}

p {
  text-align: center;
  font-family: impact;
  color: gray;
}

a {
  background-color: blue;
  border-radius: 6px;
  text-decoration: none;
  padding: 25px;
  color: white;
  font-style: bold;
  font-family: arial;
  text-align: center;
  margin:auto;
}

.container {

}
